<form method="post" action="{{ path('app_emargement_delete', {'session': emarger.session}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emarger.session) }}">
    <button class="btn">Delete</button>
</form>
